@import '../base';

:local(.projects) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    :local(.project) {
        position: relative;
        flex: 1 1 200px;
        max-width: 75%;
        min-height: @btn-min-height;
        margin: @spacing-y @spacing-x;
        box-shadow: 0px 0px 10px black;

        transition: all 0.2s ease;
        opacity: 0.8;
        cursor: pointer;

        &:before {
            content: "";
            display: block;
            padding-bottom: 50%;
        }

        &:hover, &:active {
            opacity: 1;
            transform: scale(1.1, 1.1);
        }

        > div {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            &:local(.tictactoe) {
                background-color: #FF8080;
                color: white;
            }

            &:local(.audiovisual) {
                background-color: #0080FF;
                color: white;
            }

            &:local(.cmr) {
                background-color: #A6192E;
                color: white;
            }

            :local(.title) {
                position: relative;
                margin: @spacing-y @spacing-x;
                font-size: 150%;
                text-align: center;
                text-transform: uppercase;
            }

            :local(.icon) {
                position: absolute;
                bottom: 0;
                right: 0;
                font-size: 125%;
                margin: @spacing-y @spacing-x;
                transition: font-size 0.2s ease;

                &:hover, &:active {
                    font-size: 150%;
                }
            }
        }
    }
}

