@spacing-x: 10px;
@spacing-y: 10px;
@btn-min-height: 50px;
@btn-min-width: 50px;

@width-container-max: 800px;

@font-size: 16px;
@line-height: 1.4;
@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-bold: 700;

@blur-shadow: 20px;
@spread-shadow: 0px;

@color-bg: rgb(90%, 90%, 90%);
@color-app-container: darken(@color-bg, 80%);
@color-shadow: black;
@color-text: darken(@color-bg, 75%);
@color-text-active: darken(@color-text, 10%);
@color-primary: #FF5252;

